In [2]:
import pandas as pd

# Read CSV file into pandas DataFrame

In [3]:
df = pd.read_csv('data.csv')

## This Will show first 5 Rows Dataset

In [4]:
df.head()

,DATE,BASEL_BBQ_weather,BUDAPEST_BBQ_weather,DE_BBQ_weather,DRESDEN_BBQ_weather,DUSSELDORF_BBQ_weather,HEATHROW_BBQ_weather,KASSEL_BBQ_weather,LJUBLJANA_BBQ_weather,MAASTRICHT_BBQ_weather,MALMO_BBQ_weather,MONTELIMAR_BBQ_weather,MUENCHEN_BBQ_weather,OSLO_BBQ_weather,PERPIGNAN_BBQ_weather,SONNBLICK_BBQ_weather,STOCKHOLM_BBQ_weather,TOURS_BBQ_weather
0,20000101,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,20000102,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,20000103,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,20000104,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,20000105,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

## Show Rows And Columns of Dataset

In [5]:
df.shape

(3654, 18)

## Information about Dataset

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3654 entries, 0 to 3653
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   DATE                    3654 non-null   int64
 1   BASEL_BBQ_weather       3654 non-null   bool
 2   BUDAPEST_BBQ_weather    3654 non-null   bool
 3   DE_BBQ_weather          3654 non-null   bool
 4   DRESDEN_BBQ_weather     3654 non-null   bool
 5   DUSSELDORF_BBQ_weather  3654 non-null   bool
 6   HEATHROW_BBQ_weather    3654 non-null   bool
 7   KASSEL_BBQ_weather      3654 non-null   bool
 8   LJUBLJANA_BBQ_weather   3654 non-null   bool
 9   MAASTRICHT_BBQ_weather  3654 non-null   bool
 10  MALMO_BBQ_weather       3654 non-null   bool
 11  MONTELIMAR_BBQ_weather  3654 non-null   bool
 12  MUENCHEN_BBQ_weather    3654 non-null   bool
 13  OSLO_BBQ_weather        3654 non-null   bool
 14  PERPIGNAN_BBQ_weather   3654 non-null   bool
 15  SONNBLICK_BBQ_weather   3654 non-null   bool
 16  STOCKHOLM_BBQ_weather   3654 non-null   bool
 17  TOURS_BBQ_weather       3654 non-null   bool
dtypes: bool(17), int64(1)
memory usage: 89.3 KB

## Show null values

In [7]:
df.isnull()

,DATE,BASEL_BBQ_weather,BUDAPEST_BBQ_weather,DE_BBQ_weather,DRESDEN_BBQ_weather,DUSSELDORF_BBQ_weather,HEATHROW_BBQ_weather,KASSEL_BBQ_weather,LJUBLJANA_BBQ_weather,MAASTRICHT_BBQ_weather,MALMO_BBQ_weather,MONTELIMAR_BBQ_weather,MUENCHEN_BBQ_weather,OSLO_BBQ_weather,PERPIGNAN_BBQ_weather,SONNBLICK_BBQ_weather,STOCKHOLM_BBQ_weather,TOURS_BBQ_weather
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3649,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3650,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3651,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3652,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3653,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

## Using Two Functions

In [8]:
df.isnull().sum()

DATE                      0
BASEL_BBQ_weather         0
BUDAPEST_BBQ_weather      0
DE_BBQ_weather            0
DRESDEN_BBQ_weather       0
DUSSELDORF_BBQ_weather    0
HEATHROW_BBQ_weather      0
KASSEL_BBQ_weather        0
LJUBLJANA_BBQ_weather     0
MAASTRICHT_BBQ_weather    0
MALMO_BBQ_weather         0
MONTELIMAR_BBQ_weather    0
MUENCHEN_BBQ_weather      0
OSLO_BBQ_weather          0
PERPIGNAN_BBQ_weather     0
SONNBLICK_BBQ_weather     0
STOCKHOLM_BBQ_weather     0
TOURS_BBQ_weather         0
dtype: int64

## Convert object types to categories

In [16]:
for col in df.select_dtypes(include=['object']).columns:
    df[col] = df[col].astype('category')

## Verify data types after conversion

In [17]:
df.dtypes

DATE                      int64
BASEL_BBQ_weather          bool
BUDAPEST_BBQ_weather       bool
DE_BBQ_weather             bool
DRESDEN_BBQ_weather        bool
DUSSELDORF_BBQ_weather     bool
HEATHROW_BBQ_weather       bool
KASSEL_BBQ_weather         bool
LJUBLJANA_BBQ_weather      bool
MAASTRICHT_BBQ_weather     bool
MALMO_BBQ_weather          bool
MONTELIMAR_BBQ_weather     bool
MUENCHEN_BBQ_weather       bool
OSLO_BBQ_weather           bool
PERPIGNAN_BBQ_weather      bool
SONNBLICK_BBQ_weather      bool
STOCKHOLM_BBQ_weather      bool
TOURS_BBQ_weather          bool
dtype: object

## Describe the dataset and transpose the result

In [18]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
DATE,3654.0,2.004568e+07,28742.871733,20000101.0,20020702.25,20045666.0,20070702.75,20100101.0

## Grouping data by a specific column, for example, 'BASEL_BBQ_weather'

In [19]:
df.groupby('BASEL_BBQ_weather').mean()

,DATE,BUDAPEST_BBQ_weather,DE_BBQ_weather,DRESDEN_BBQ_weather,DUSSELDORF_BBQ_weather,HEATHROW_BBQ_weather,KASSEL_BBQ_weather,LJUBLJANA_BBQ_weather,MAASTRICHT_BBQ_weather,MALMO_BBQ_weather,MONTELIMAR_BBQ_weather,MUENCHEN_BBQ_weather,OSLO_BBQ_weather,PERPIGNAN_BBQ_weather,SONNBLICK_BBQ_weather,STOCKHOLM_BBQ_weather,TOURS_BBQ_weather
BASEL_BBQ_weather,,,,,,,,,,,,,,,,,
False,2.004597e+07,0.239234,0.101215,0.104159,0.093485,0.118513,0.082076,0.168936,0.087229,0.120353,0.231873,0.076187,0.100110,0.381671,0.0,0.110416,0.131027
True,2.004485e+07,0.739594,0.563501,0.586980,0.622199,0.583778,0.545358,0.686233,0.630736,0.472785,0.823906,0.674493,0.368196,0.783351,0.0,0.399146,0.662753

## Check if a value 'True' is present in the 'BASEL_BBQ_weather' column

In [20]:
is_present = True in df['BASEL_BBQ_weather'].values
is_present

True

## Access the value at a specific index (5th row)

In [21]:
value_at_index = df.iloc[5]
value_at_index

DATE                      20000106
BASEL_BBQ_weather            False
BUDAPEST_BBQ_weather         False
DE_BBQ_weather               False
DRESDEN_BBQ_weather          False
DUSSELDORF_BBQ_weather       False
HEATHROW_BBQ_weather         False
KASSEL_BBQ_weather           False
LJUBLJANA_BBQ_weather        False
MAASTRICHT_BBQ_weather       False
MALMO_BBQ_weather            False
MONTELIMAR_BBQ_weather       False
MUENCHEN_BBQ_weather         False
OSLO_BBQ_weather             False
PERPIGNAN_BBQ_weather        False
SONNBLICK_BBQ_weather        False
STOCKHOLM_BBQ_weather        False
TOURS_BBQ_weather            False
Name: 5, dtype: object